@import "normalize.css";
@font-face {
  font-display: swap;
  font-family: "PT-Sans";
  src: url("../fonts/pt-sans-400.woff2") format("woff2"), url("../fonts/pt-sans-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "PT-Sans";
  src: url("../fonts/pt-sans-700.woff") format("woff2"), url("../fonts/pt-sans-700.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.page {
  font-family: "PT Sans", sans-serif;
}

.promo {
  background-image: url("../img/bg-promo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 650px;
  padding: 21px 0 93px 0;
}
.promo__title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}
.promo__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-top: 17px;
}
.promo__wrapper {
  margin-top: 91px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.promo__priorities {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 60px;
  width: 425px;
}
.promo__prioritie {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 110px;
}
.promo__prioritie-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
}
.promo__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  margin-top: 18px;
}
.promo__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

.header {
  font-family: "PT Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
}
.header__official span {
  display: block;
  font-size: 18px;
  line-height: 29px;
}
.header__phone {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  color: #FFFFFF;
}
.header__phone:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button {
  width: 153px;
  height: 32px;
  background: #C70101;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  outline: none;
}
.button:hover {
  transition-duration: 0.4s;
  background-color: #e06f3b;
}
.button_header {
  margin-top: 10px;
}
.button_main {
  width: 303px;
  height: 54px;
  font-size: 16px;
  line-height: 25px;
  margin-top: 67px;
}
.button_form {
  width: 303px;
  height: 54px;
  font-size: 16px;
  line-height: 25px;
  margin-top: 11px;
}

.advantages {
  min-height: 473px;
  background-color: #F6F6F6;
  padding: 70px 0 65px 0;
}
.advantages__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #0D0D0D;
  text-transform: uppercase;
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}
.advantages__item {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__item-title {
  font-size: 18px;
  line-height: 29px;
  font-weight: 700;
  margin: 0;
  margin-top: 15px;
}
.advantages__description {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-top: 15px;
}

.consult {
  min-height: 680px;
  background-image: url("../img/bg-consult.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 108px 0;
}
.consult__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 800px;
  margin: 0;
}
.consult__text {
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  width: 426px;
  margin: 0;
  margin-top: 8px;
}

.form__form-group {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin-top: 36px;
  width: 303px;
}
.form__input {
  height: 54px;
  border-radius: 5px;
  margin-top: 11px;
  padding: 5px 15px;
  width: 100%;
  border: none;
  font-size: 14px;
  color: #4B4B4B;
}

.sliders {
  padding: 81px 0 81px 0;
}
.sliders__inner {
  width: 750px;
  margin: 0 auto;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-prev {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 32%;
  transform: translateY(50%);
  left: -105px;
}
.slick-prev img {
  width: 31px;
  height: 50px;
}

.slick-next {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 32%;
  transform: translateY(50%);
  right: -105px;
}
.slick-next img {
  width: 31px;
  height: 50px;
}
/*# sourceMappingURL=style.css.map */
